.bottomBorder() {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.leftBorder() {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

@grayBackground: #40434a;

.filtersWidget {
    min-width: 200px;
    background-color: rgba(64, 67, 74, 0.7);
    font-size: 18px;
    position: relative;

    .filtersWidget__body--hidden {
        display: none;
    }
    
    .filtersWidget__line-container {
        .bottomBorder();
        color: white;

        .filtersWidgetField {
            .filtersWidget__inner-container {
                display: flex;
                align-items: center;
            }
            
            .filtersWidget__checkbox-container {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            .filtersWidget__indicators {
                padding: 8px;

                .filtersWidget__dropdown-indicator {
                    display: flex;
                }
            }
            .filtersWidget__menu {
                min-height: 60px;
                
                .filtersWidget__menu-list {
                    position: static;
                    max-height: 300px;
                    overflow: overlay;
                } 
            }
            
            .filtersWidget__value-container {
                display: flex;
                margin: 5px;
                width: 100%;
                background-color: #66696e;
            }
            
            .filtersWidget__control {
                display: block;

                &:after {
                    width: 80%;
                    border-style: solid;
                    height: 0px;
                    border-width: 0px 0px 1px 0px;
                    content: '';
                    display: block;
                    margin: auto;
                }
            }

            
            .filtersWidget__checkbox-filter {
                background-color: #32353a;
                
                &_active {
                    color: blue;
                }
            }
        }
    }

    .filtersWidget__footer {
        min-height: 20px;

        &:after {
            .leftBorder();
            content: '';

            height: 20px;
            display: block;
            margin: auto;
            margin-left: 30px;
        }
    }
}

.filtersWidget__header {
    .bottomBorder();

    display: flex;
    align-items: center;
    justify-content: space-between;

    .filtersWidget__header-text {
        margin: 5px 5px 5px 30px;
        text-align: left;
    }
}
   
.filtersWidget__dropdown-indicator {
    img {
        max-width: 20px;
        max-height: 20px;
    }
}

.filtersWidget__line-container {
    .bottomBorder();
    color: white;

    .filtersWidget__container  {
        .leftBorder();
        background-color: @grayBackground;
        margin-left: 30px;
        
        .filtersWidget__menu {
            position: relative;

            .filtersWidget__menu-list {
                position: absolute;
                width: 100%;
                background-color: @grayBackground;
                z-index: 10;
            }
        }        

        .filtersWidget__value-container {
            display: flex;
            margin: 5px;

            .filtersWidget__placeholder {
                color: white
            }   
        }

        .filtersWidget__control {
            display: flex;
            align-items: center;
        }
    }
}

.draggable-container {
    width: 20px;
    height: 20px;
}