:root {
    --defaultWidth: 250px;
    --defaultFontSize: 20px
}

.filtersWidget {
    width: var(--defaultWidth);
    background-color: rgba(64, 67, 74, 0.4);
    font-size: var(--defaultFontSize);
}

.filtersWidget__header {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.filtersWidgetFilter__container {
    background-color: #40434a;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    margin-left: 30px;
}

.filtersWidgetFilter__container .filtersWidget__menu-list {
    position: static;
}

.filtersWidgetFilter__container .filtersWidget__control {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: white;
}

.filtersWidgetFilter__container .filtersWidget__control {
    display: block;
}

.filtersWidget__indicators {
    padding: 8px;
}

.filtersWidget__value-container {
    display: flex;
}

.filtersWidget__placeholder {
    color: white
}   

.filtersWidget__control {
    display: flex;
    align-items: center;
}

.filtersWidget__dropdown-indicator {
    display: flex;
}

.filtersWidget__dropdown-indicator img {
    max-width: 20px;
    max-height: 20px;
}

.filtersWidget__value-container {
    margin: 5px;
}

.filtersWidget__menu {
    position: relative;
}

.filtersWidget__menu-list {
    position: absolute;
    width: 100%;
    background-color: #40434a;
    z-index: 10;
}

.filtersWidget__line-container {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: white;
}

.filtersWidget__container {
    background-color: #40434a;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    margin-left: 30px;
}

.filtersWidget__inner-container {
    display: flex;
    align-items: center;
}

.filtersWidget__checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.filtersWidget__checkbox-partial-overlap {
    
}

.filtersWidget__checkbox-full-overlap {
    
}